body{
    background-color: royalblue;
}
.cbox{
    background-color: royalblue;
   
}
.dbox{
    height:700px;
   
}
.bd{
    margin-top: 30px;
}

.br{
    margin-top: 90px;
}

.r{
    margin-top:50px;
}